body {
    font-size: 16px;
    background-color: #E5989B;
    font-family: 'Lato', 'Times New Roman', 'serif';
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #241F2D;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.75rem;
    justify-content: space-around;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header>img {
    width: 100px;
    height: auto;
    padding: 0.75rem;
}

h1 {
    color: whitesmoke;
    padding: 0rem;
    font-family: 'EB Garamond', 'Helvetica', 'sans-serif';
    font-size: 1.75rem;
}

nav>ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.75rem;
}

nav>ul>li {
    flex: 1 1 auto;
}

nav>ul>li>a {
    color: whitesmoke;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'EB Garamond', 'Helvetica', 'sans-serif';
    display: block;

}

nav a:hover {
    color: #241F2D;
    background-color: #E5989B;
    border-radius: 5px;
}


.active {
    color: #E5989B;
    border-bottom: 1px solid #E5989B;
    padding-bottom: 0.75rem;
}

main,
footer {
    background-color: white;
    padding: 0.75em;
}

.hero {
    width: 960px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.heroimg {
    grid-column: 1 / -1;
    grid-row: 1;
}

.action {
    grid-column: 1;
    grid-row: 1;
    background-color: whitesmoke;
    opacity: 0.85;
    margin: 5rem 6rem;
    padding: 1em;
    text-align: center;
    font-family: 'Lato', 'Times New Roman', 'serif';
    border-radius: 10px;
}

.action button {
    line-height: 2em;
    width: 8em;
    background-color: #E5989B;
    font-size: 1.2em;
    border-radius: 30px;
    font-family: 'EB Garamond', 'Helvetica', 'sans-serif';
}

.action button:hover {
    transition: transform .2s;
    transform: scale(1.1);
}

.layout {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 150px;
    grid-gap: 1.5rem;
    padding: 1rem;
}

.pic1:hover,
.pic2:hover {
    transition: transform .2s;
    transform: scale(1.1);
}

.pic1 {
    grid-column-end: -1;
    position: relative;
    left: 9px;
}

.pic2 {
    position: absolute;
    left: 20px;
}

.family {
    grid-column: 1/3;
    text-align: justify;
    line-height: 1.5rem;
}

h2 {
    font-family: 'EB Garamond', 'Helvetica', 'sans-serif';
    color: #B5838D;
    padding: 0.25rem;
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px 2px;
}

main section p {
    background-color: white;
    text-align: justify;
    padding: 0.25rem;
    font-family: 'Lato', 'Times New Roman', 'serif';
    line-height: 1.5rem;
    margin: auto;
}

footer {
    background-color: #241F2D;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.contact {
    text-align: center;
    padding: 0.25em;
}

.social {
    text-align: center;
    padding: 0.25rem;
}

.social img {
    width: 50px;
    height: auto;
}

.copyright {
    text-align: center;
    color: white;
    grid-column: 1/3;
}

@media screen and (max-width: 550px) {
    .______ {
        display: block;
    }
}

.layout2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 280px 250px 0px;
    grid-gap: 1rem;
    padding: 1rem;
}

main section ul li {
    background-color: white;
    padding: 0.25rem;
    font-family: 'Lato', 'Times New Roman', 'serif';
    line-height: 1.3rem;
    margin: auto;
}

.ap {
    background-color: white;
    text-align: center;
    padding: 0.25rem;
    font-family: 'Lato', 'Times New Roman', 'serif';
    line-height: 1.5rem;
    margin: 0px;
}

.pic3,
.pic4,
.pic5,
.pic6 {
    display: block;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
}

.layout3 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 390px 300px 0px;
    grid-gap: 1rem;
    padding: 0.50rem;
}

.freelist {
    background-color: white;
    text-align: justify;
    padding: 0.25rem;
    font-family: 'Lato', 'Times New Roman', 'serif';
    line-height: 1.5rem;
}

.pic7,
.pic8,
.pic9 {
    width: 95%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

.container {
    text-align: center;
    padding: 10px 20px;
    margin: auto;
}

.pic7:hover,
.pic8:hover,
.pic9:hover {
    transition: transform .8s;
    transform: scale(1.1)
}

.layout4 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-gap: 1rem;
    padding: 0.50rem;
}

#feedback {
    font: 1em sans-serif;
    color: #241F2D;
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

form {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 450px;
    /* Form outline */
    padding: 1em;
    border: 3px solid #E5989B;
    border-radius: 1em;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

form li+li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 130px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 10em;
}

.button2 button {
    padding: 4px;
    margin-left: 9em;
    line-height: 1em;
    width: 6em;
    background-color: #E5989B;
    font-size: 1em;
    border-radius: 30px;
    text-align: center;
}

.button2 button:hover {
    transition: transform .2s;
    transform: scale(1.1);
}