body {
    font-size: 16px;
    background-color: #E5989B;
    font-family: 'Lato', 'Times New Roman', 'serif';
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color:#241F2D;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.75rem;
    justify-content: space-evenly;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header>img {
    width: 100px;
    height: auto;
    padding: 0.75em;
}

h1 {
    color: whitesmoke;
    padding: 0rem;
    font-family: 'EB Garamond', 'Helvetica', 'sans-serif';
    font-size: 2rem;
}

nav>ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.75rem;
}

nav>ul>li {

}

nav>ul>li>a {
    color: whitesmoke;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'EB Garamond', 'Helvetica', 'sans-serif';
    display: block;

}

nav a:hover{
    color: #E5989B;
    background-color:#241F2D;

}

.active {
    color: #E5989B;
    border-bottom: 1px solid #E5989B;
    padding-bottom: 0.75rem;
}

main,
footer {
    background-color: white;
    padding: 0.75em;
}

main>img {
    width: 960px;
    height: auto;
    
}

h2 {
    font-family: 'EB Garamond', 'Helvetica', 'sans-serif' ;
    color: #B5838D;
    padding: 0.25rem;
    
}

main section p {
    background-color: white;
    text-align: justify;
    padding: 0.25rem;
    font-family: 'Lato', 'Times New Roman', 'serif';
    line-height: 1.5rem;
}

footer {
    background-color: #241F2D;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact {
    text-align: center;
    padding: 0.25em;


}

.social {
    text-align: center;
    padding: 0.25rem;
}

.social img {
    width: 50px;
    height: auto;

}

.copyright {
    text-align: center;
    color: white;
}