@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Merienda+One&family=Rosario:wght@300&display=swap');

body {
    font-size: 16px;
    background-color: #d0c4ab;
    font-family: 'Rosario', 'Times New Roman', 'serif';
}

header,
main,
footer {
    max-width: 980px;
    margin: 0 auto;
}

header {
    background-color: #8b3118;
    color: white;
    display: -moz-inline-grid;
    align-items: center;
    padding: 0.75rem;
    justify-content: space-around;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.setup {
    display: grid;
    grid-template-columns: 90px 300px;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.setup>img {
    width: 100px;
    height: auto;
    padding: 10px;
}

h1 {
    color: whitesmoke;
    padding: 0px;
    font-family: 'Lora', 'Helvetica', 'sans-serif';
    font-size: 1.75em;
    text-align: center;
}

nav {
    text-align: center;
    align-items: center;
    align-content: center;
}

nav>ul {
    display: inline-flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: auto;

}

nav>ul>li {
    flex: 1 1 auto;
    text-align: center;
    margin: auto;
    padding: 10px;
}

nav>ul>li>a {
    color: whitesmoke;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Lora', 'Helvetica', 'sans-serif';
    display: block;

}

nav a:hover {
    color: #241F2D;
    background-color: #d0c4ab;
    border-radius: 5px;
}


.active {
    color: #9DC6EC;
    border-bottom: 1px solid #9DC6EC;
    padding-bottom: 0.75rem;
}

main,
footer {
    background-color: white;
    padding: 0.75em;
}

.hero {
    width: 980px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.heroimg {
    grid-column: 1 / -1;
    grid-row: 1;
}

.action {
    grid-column: 1;
    grid-row: 1;
    background-color: whitesmoke;
    opacity: 0.85;
    margin: 140px 100px 40px 100px;
    padding: 1em;
    text-align: center;
    font-family: 'Rosario', 'Times New Roman', 'serif';
    border-radius: 10px;
}

.action button {
    line-height: 2em;
    width: 8em;
    text-shadow: 1px 1px 120px;
    background-color: #df8b3e;
    font-size: 1.2em;
    border-radius: 30px;
    font-family: 'Lora', 'Helvetica', 'sans-serif';
}

.action button:hover {
    transition: transform .2s;
    transform: scale(1.1);
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 420px 420px;
    grid-gap: 1.5rem;
    padding: 1rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.pic1,
.pic2 {
    text-align: center;
    display: block;
    margin: auto;
    border: 1px solid #ccc;
    padding: 15px 15px;
    box-shadow: 5px 5px 5px #999;
}

.headline h1 {
    color: #1571C6;
    padding: 40px 10px 15px 20px;
    font-family: 'Merienda One', 'cursive';
    text-align: center;
    margin: auto;
}

.headline h1:hover {
    transition: transform .6s;
    transform: scale(1.1);
}

h2 {
    font-family: 'Lora', 'Helvetica', 'sans-serif';
    color: #B35900;
    padding: 0.25rem;
    text-align: center;
    text-decoration: underline;
    text-shadow: 10px 1px 100px;
}

main section p {
    background-color: white;
    text-align: justify;
    padding: 4px;
    font-family: 'Rosario', 'Times New Roman', 'serif';
    line-height: 1.5rem;
    margin: auto;
}

footer {
    background-color: #8b3118;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.contact {
    text-align: center;
    padding: 0.25em;
}

.social {
    text-align: center;
    padding: 0.25rem;
}

.social img {
    width: 50px;
    height: auto;
}

.copyright {
    text-align: center;
    color: white;
    grid-column: 1/3;
}

@media screen and (max-width: 550px) {
    .______ {
        display: block;
    }
}

.layout2 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 1fr 420px 350px 420px;
    grid-gap: 1rem;
    padding: 1rem;
    margin-top: 40px;
}

main section ul li {
    background-color: white;
    padding: 0.25rem;
    font-family: 'Lora', 'Times New Roman', 'serif';
    line-height: 1.3rem;
    margin: auto;
}

.media {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.media h2 {
    color: #1571C6;
}

.media p {
    padding: 10px;
}

.card {
    width: 380px;
    overflow: hidden;
    box-shadow: 1px 1px 10px #1571C6;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    margin: auto;
    height: 200px;
}

.card h3 {
    color: #1571C6;
    margin: auto;
    padding: 10px;
    font-family: 'Lora', 'Helvetica', 'sans-serif';
}

.card p {
    font-family: 'Rosario', 'Times New Roman', 'serif';
    text-justify: auto;
    text-align: left;
    padding: 10px;
}

.more {
    color: white;
    background-color: #1571C6;
    font-family: 'Lora', 'Helvetica', 'sans-serif';
    font-size: 15px;
    line-height: 22px;
    border-radius: 10px;
    border-width: 2px;
    padding: 10px;
    width: 10em;
    text-shadow: 1px 1px 120px;
    height: 65px;
}

.cardfooter button:hover {
    transition: transform .5s;
    transform: scale(1.1);
}

.cardfooter {
    display: grid;
    grid-template-columns: 160px 180px;
    grid-template-rows: 80px;
    grid-gap: 5px;
    background-color: white;
    padding: 5px;
    margin-left: 35px;
}

.pic3,
.pic4,
.pic5,
.pic6,
.pic7,
.pic8 {
    width: 99%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

.container {
    text-align: center;
    padding: 10px 20px;
    margin: auto;
}

.layout3 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px;
    grid-gap: 1rem;
    padding: 0.50rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

.media2 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.media2 h2 {
    color: #1571C6;
}

.media2 p {
    padding: 10px;
}

.card2 {
    width: 380px;
    overflow: hidden;
    box-shadow: 1px 1px 10px #1571C6;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    margin: auto;
    height: 280px;
}

.card2 h3 {
    color: #1571C6;
    margin: auto;
    padding-top: 10px;
    font-family: 'Lora', 'Helvetica', 'sans-serif';
    text-align: center;
}

.shape {
    color: white;
    background-color: #1571C6;
    font-family: 'Lora', 'Helvetica', 'sans-serif';
    font-size: 15px;
    line-height: 22px;
    border-radius: 10px;
    border-width: 2px;
    padding: 10px;
    width: 20em;
    text-shadow: 1px 1px 120px;
    height: 55px;
}

.pic9,
.pic10,
.pic11,
.pic12 {
    width: 90%;
    background-color: #eadfd9;
    box-shadow: 0 4px 8px 0 #c4a8a4, 0 6px 20px 0 #c4a8a4;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: center;

}

.pic9:hover,
.pic10:hover,
.pic11:hover,
.pic12:hover {
    transition: transform .8s;
    transform: scale(1.1)
}

.layout4 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-gap: 1rem;
    padding: 0.50rem;
    margin-top: 20px;
}

.layout4 ul li {
    font-family: 'Rosario', 'Times New Roman', 'serif';
    text-align: justify;
    padding-bottom: 10px;
}

.layout4 p {
    margin-left: 40px;
}

#feedback {
    color: #1571C6;
    font-family: 'Rosario', 'Times New Roman', 'serif';
    font-weight: bold;
    text-align: center;
}

#feedback h2 {
    color: #1571C6;
    margin-top: 3rem;
}

#feedback form {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 450px;
    border: 3px solid #1571C6;
    border-radius: 1em;
    font: 1em 'Lora', 'Times New Roman', 'serif';
    color: #241F2D;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

form li+li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 130px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 8px;
}

input:focus,
textarea:focus {
    border-color: #1571c6;
}

textarea {
    vertical-align: top;
    height: 10em;
}

.button2 button {
    padding: 4px;
    margin-left: 9em;
    line-height: 1em;
    width: 6em;
    background-color: #df8b3e;
    opacity: 0.85;
    font-size: 1em;
    border-radius: 30px;
    text-align: center;
}

.button2 button:hover {
    transition: transform .2s;
    transform: scale(1.1);
}